name:
  fullname: 'Takaya Kobayashi'
  aka: 'Jigsaw'

links: [
  title: 'Blog'
  url: 'http://blog.jgs.me'
,
  title: 'Diary'
  url: 'http://diary.jgs.me'
,
  title: 'Develop'
  url: 'http://dev.jgs.me'
,
  title: 'Tumblr'
  url: 'http://tumblr.jgs.me'
,
  title: 'Github'
  url: 'http://github.com/e-jigsaw'
,
  title: 'Twitter'
  url: 'http://twitter.com/neo6120'
,
  title: 'Steam'
  url: 'http://steamcommunity.com/profiles/76561197993303918'
,
  title: 'Book'
  url: 'http://book.akahoshitakuya.com/u/81576'
,
  title: 'last.fm'
  url: 'http://last.fm/user/neo6120'
,
  title: 'Facebook'
  url: 'http://fb.me/takaya.kobayashi'
,
  title: 'Foursquare'
  url: 'http://foursquare.com/neo6120'
,
  title: 'More...'
  url: '/more.html'
]

activities: [
  year: 2015
  data: [
    type: 'Article adtech.cyberagent.io - Scala.js'
    title: '【Scala.jsではじめるScala道】第二回・DOMとscalatagsであけおめ'
    link: 'http://adtech.cyberagent.io/scalablog/?p=414'
  ]
,
  year: 2014
  data: [
    type: 'LT session - 東京Node学園祭2014'
    title: 'node.jsでビッグデータを処理する'
    link: 'https://www.youtube.com/watch?v=OGvamugB5Hg'
  ,
    type: 'Article gihyo.jp - 東京Node学園祭2014'
    title: 'Socket.IOの作者Guillermo Rauch氏，新開発のファイルアップロードライブラリ「Party」を紹介 ～ 東京Node学園祭2014 基調講演'
    link: 'http://gihyo.jp/news/report/2014/11/2501'
  ,
    type: 'Article adtech.cyberagent.io - Scala.js'
    title: '【Scala.jsではじめるScala道】第一回・HelloWorld'
    link: 'http://adtech.cyberagent.io/scalablog/?p=295'
  ]
]
